astroid==2.7.3
attrs==21.2.0
coverage==5.5
iniconfig==1.1.1
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
mock==4.0.3
packaging==21.0
platformdirs==2.3.0
pluggy==1.0.0
py==1.10.0
pylint==2.10.2
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==2.12.1
pytest-pylint==0.18.0
six==1.16.0
toml==0.10.2
wrapt==1.12.1
